<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to MegaChat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <div class="hm container-fluid">
        <div class="hm-container">
            <h1 class="hm-title">MegaChat</h1>
            <button type="button" class="login btn btn-primary btn-lg">Login</button>
        </div>
    </div>
</body>
</html>